<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Spring security</title>
</head>
<body>
    <h1>Spring security</h1>
    <div>
        <p>Bejelentkezett felhasználó: <span sec:authentication="name">Bob</span></p>
        <form method="post" th:action="@{/logout}">
            <input type="submit" value="Kijelentkezés">
        </form>
        <p>Szerepkör: <span sec:authentication="principal.authorities">[]</span></p>
        <p>Felhasználók:</p>
        <ul>
            <th:block th:each="user : ${users}">
                <li th:text="${user.username}"></li>
            </th:block>
        </ul>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <form method="post" th:action="@{/}" th:object="${user}">
                Felhasználónév: <input th:field=*{username} type="text" />
                Jelszó: <input type="password" th:field=*{password} />
                Szerepkör: <input type="text" th:field="*{role}" /><br />
                <input type="submit" value="Felvesz" />
            </form>
        </div>
    </div>

</body>
</html>